<!DOCTYPE html>
<html>
<head>
    <style>
        tr, td, th {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<table cellspacing='0' cellpadding='0' border='0' style='margin-top: 5px; border-collapse: separate ! important; border-spacing: 1px; font-size: 12px' ;>
    <tr>
        <th>
            Booking Reference Number
        </th>
        <th>
            Service Id
        </th>
        <th>
            Token Id
        </th>
        <th>
            API Booking Reference Number
        </th>
        <th>
            Travel Date
        </th>
        <th>
            Customer Email Id
        </th>
        <th>
            Contact Number
        </th>
        <th>
            API Cancellation Status
        </th>
        <th>
            API Type Name
        </th>
        <th>
            Option Id
        </th>
        <th>
            Option Name
        </th>
        <th>
            Option Code Detail
        </th>
        <th>
            Availability Reference Id
        </th>
        <th>
            Storage Account
        </th>
        <th>
            Passenger Name
        </th>
        <th>
            API Error
        </th>
    </tr>
    ##TableContent##
</table>
</html>