@media print, screen {
    /*.pdf-container,
            .pdf-inner {
                position: relative;
                width: 100%;
                z-index: 1;
            }*/

    .bdr_b {
        border-bottom: 2px solid #ab0534;
    }

    .bdr_t {
        border-top: 2px solid #ab0534;
    }

    .bdr_l {
        border-left: 2px solid #ab0534;
    }

    .bdr_r {
        border-right: 2px solid #ab0534;
    }

    .txt-red {
        color: #ab0534;
    }

    .spcr {
        width: 7px;
    }

    .col1 {
        width: 70%;
        vertical-align: top;
    }

    .col2 {
        width: 30%;
        text-align: center;
        vertical-align: top;
    }

    .qrTable {
        background: #eff0f0;
        border: 2px solid #ab0534;
    }

    .col2 td td {
        padding: 0 15px;
    }

    .qr img {
        margin: auto;
    }

    .w50 {
        width: 50%;
    }

    .spcr_v1 {
        width: 20px
    }

    .spcr_v2 {
        width: 45px
    }

    .spcr_v3 {
        width: 65px
    }

    .spcr_h1 {
        height: 10px;
        font-size: 0px;
    }

    .spcr_h2 {
        height: 20px;
        font-size: 0px;
    }

    img {
        border: 0 none;
        display: block;
    }

    .vat {
        vertical-align: top;
    }

    .qr {
        text-align: center;
    }

    .tac {
        text-align: center;
    }

    .half-circle-up,
    .half-circle-down {
        width: 55px;
        height: 28px;
        border: 2px solid #ab0534;
        background-color: #FFF;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: auto;
        position: relative;
    }

    .half-circle-down {
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
        border-bottom: 0;
        bottom: -2px;
    }

    .half-circle-up {
        top: -2px;
        border-bottom-left-radius: 55px;
        border-bottom-right-radius: 55px;
        border: 2px solid #ab0534;
        border-top: 0;
    }

    .AppBanner img {
        margin: 0 auto;
    }

    .bookedInfo {
        padding: 5px 10px 5px 0;
    }

    .bInfo td {
        padding: 5px 0;
        font-weight: bold;
    }
}