<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Supplier Email</title>
    <style>
        table td {
            line-height: 150%;
        }
    </style>
</head>

<body>
    <table style="max-width: 550px;" width="100%" border="0" cellspacing="0" cellpadding="3">
        <tr>
            <td style="padding: 20px;text-align: center;">
                <a href="https://www.isango.com/" target="_blank">
                    <img style="display: block;margin: auto;"
                         src="https://hohobassets.isango.com/phoenix/images/isango-cs.png" width="85" height="39" alt="isango!" />
                </a>
            </td>
        </tr>
        <tr>
            <td style="height: 1px;border-bottom: 1px dashed #aaa;font-size: 1px;line-height: 1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 1px;font-size: 1px;line-height: 1px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                        <td style="width: 200px;font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;vertical-align: top;">
                            <b>Booking reference number:</b>
                        </td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;vertical-align: top;">
                            #VoucherNo#
                        </td>
                    </tr>
                    <!--<tr>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;vertical-align: top;">
                            <b>Date of booking:</b>
                        </td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;vertical-align: top;">
                            #BookingDate#
                        </td>
                    </tr>-->
                    <tr>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;vertical-align: top;">
                            <b>Booking status:</b>
                        </td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;vertical-align: top;">
                            #BookingStatus#
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 1px;border-bottom: 1px dashed #aaa;font-size: 1px;line-height: 1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 1px;font-size: 1px;line-height: 1px;">&nbsp;</td>
        </tr>

        <!--Repeatable-->
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                        <td colspan="2"
                            style="font-size: 18px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;padding: 10px 5px">
                            #ProductName#
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 180px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;"><b>Option code:</b></td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">#OptionCode#</td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">
                            <b>Option name:</b>
                        </td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">#OptionName#</td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">
                            <b>Date of tour:</b>
                        </td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">#StartDate#</td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;"><b>Start time:</b></td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">#StartTime#</td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">
                            <b>Meeting Point:</b>
                        </td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">#PickUpLocation#</td>
                    </tr>
                    <tr>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">
                            <b>
                                isango! Service
                                Id:
                            </b>
                        </td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">#ServiceID#</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--/Repeatable-->

        <tr>
            <td style="height: 1px;border-bottom: 1px dashed #aaa;font-size: 1px;line-height: 1px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 1px;font-size: 1px;line-height: 1px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                        <td colspan="2"
                            style="font-size: 18px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;padding: 10px 5px">
                            Customer
                            Details
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 180px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;"><b>Lead pax name:</b></td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">#LeadPxName#</td>
                    </tr>
                    <!--<tr>
                    <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;"><b>Any special
                            Request:</b>
                    </td>
                    <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;line-height: 1.5;">This
                        is a gift for my
                        Parents. Here are my dad's contact information. <b>Name:</b> #LeadPxName# <b>Phone:</b> #LeadPxPhone# <b>Email:</b>
                        #LeadPxEmail# </td>
                </tr>
                <tr>
                    <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;"><b>All pax name:</b>
                    </td>
                    <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">Lorem ipsum</td>
                </tr>-->
                    <tr>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;"><b>Total Pax:</b></td>
                        <td style="font-size: 14px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;">##TotalPax##</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="1" cellspacing="0" cellpadding="5" style="border: 1px solid #CCC; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <td style="font-size: 12px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;font-weight: bold;">
                                Passenger
                            </td>
                            <td style="font-size: 12px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;font-weight: bold;width: 200px;">
                                Name
                            </td>
                            <td style="font-size: 12px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;font-weight: bold;">
                                Age
                            </td>
                            <td style="font-size: 12px;color: #333;font-family: Arial, Helvetica, sans-serif;vertical-align: top;font-weight: bold;">
                                isango! Buy Price
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        #PxDetailRow#
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 15px;font-size: 1px;line-height: 1px;">&nbsp;</td>
        </tr>
        <tr>
            <td class="tal">
                Best Regards,<br />
                Isango
            </td>
        </tr>
    </table>
</body>

</html>