<style type="text/css">
    body {
        font-family: Verdana, Geneva, sans-serif;
    }

    .confirmation .panel {
        width: 695px !important;
        background-image: none;
        padding: 0;
        margin: 0 0 18px;
        font-family: Verdana, Geneva, sans-serif;
    }

        .confirmation .panel .panel-content {
            border-bottom: 1px solid #d8d8d8;
            padding: 12px 17px;
        }

        .confirmation .panel .panel-title {
            background: #7da500 url(/_ui/images/bg/panel_title_left_green.png) no-repeat top left;
            color: #fff;
            position: relative;
        }

            .confirmation .panel .panel-title h1 {
                background: url(/_ui/images/bg/panel_title_right_green.png) no-repeat top right;
                padding-top: 12px;
                padding-bottom: 13px;
            }

                .confirmation .panel .panel-title h1 strong {
                    font-size: 1.6em;
                    padding-left: 18px;
                    display: block;
                }

    .panel-title .tools {
        background: url(/_ui/images/bg/panel-title_print-email.png) no-repeat;
        width: 57px;
        height: 21px;
        overflow: hidden;
        position: absolute;
        top: 7px;
        right: 8px;
        padding: 3px 0 0 4px;
    }

        .panel-title .tools li {
            float: left;
            margin-left: 17px;
        }

        .panel-title .tools a {
            display: block;
            text-indent: -999em;
            width: 16px;
            height: 16px;
        }

        .panel-title .tools .print a {
            background: url(/_ui/images/ico/utilities_print.gif) no-repeat;
        }

        .panel-title .tools .email a {
            background: url(/_ui/images/ico/utilities_email.gif) no-repeat;
        }

        .panel-title .tools .email {
            margin-top: 1px;
        }

    .primary-content .inner-right .panel-content {
        width: 658px;
    }

    .please-note li strong {
        color: #df4a0f;
        font-size: 1.1em;
    }

    .please-note h2 {
        color: #1899b4;
        font-size: 1.4em;
        padding: 0 0 15px;
        font-weight: normal;
    }

    .confirmation .details-last {
        margin: 0 0 5px;
    }

    .confirmation .details .section dt {
        font-weight: bold;
        float: left;
        clear: left;
        padding-right: 5px;
    }

        .confirmation .details .section dt.start-time {
            font-weight: normal;
        }

    .confirmation .details .section dd {
        float: left;
    }

    .confirmation .details .section dl.block dt, .confirmation .details .section dl.block dd {
        display: block;
        float: none;
    }

    .confirmation .details .section dd.inline {
        float: none;
        display: block;
        clear: both;
    }

        .confirmation .details .section dd.inline dl dt, .confirmation .details .section dd.inline dl dd {
            float: none;
            display: inline;
        }

        .confirmation .details .section dd.inline dl.block dt, .confirmation .details .section dd.inline dl.block dd {
            display: block;
        }

    .confirmation .details .section dl.inline {
        padding-bottom: 0;
    }

        .confirmation .details .section dl.inline dt, .confirmation .details .section dl.inline dd {
            display: inline;
            float: none;
        }

    .confirmation .details .section dl, .confirmation .details .section p, .confirmation .details .section h3, .confirmation .details .section dl.product-list .title {
    }

        .confirmation .details .section h3, .confirmation .details .section dl.product-list .title {
        }

    .confirmation .details .section .reference-no {
        color: #1899b4;
    }

    .confirmation .details .section .local-numbers {
        font-size: .9em;
    }

    .confirmation .details .section dl.product-list {
        line-height: 1.8;
    }

        .confirmation .details .section dl.product-list dt {
            clear: left;
            font-weight: normal;
            width: 365px;
            display: block;
            float: left;
        }

        .confirmation .details .section dl.product-list dd {
            display: block;
            float: left;
            width: 150px;
        }

        .confirmation .details .section dl.product-list .title {
            font-weight: bold;
            padding: 0 5px 5px 0;
        }

        .confirmation .details .section dl.product-list .total {
            padding: 0 5px 0 0;
        }

    .titleleft {
        float: left;
        font-size: 1.09em;
        font-weight: bold;
        line-height: 1.5em;
        margin: 0 0 4px;
    }

    .priceright {
        color: #DE460A;
        float: right;
        font-size: 1.09em;
        font-weight: bold;
        line-height: 1.5em;
    }

    .totalamt li {
        clear: both;
    }

    .confirmation .details .section dl.inline {
        padding-bottom: 5px;
    }

    .confirmation .details .booking-details2 {
        width: 100%;
    }

    .confirmation .details .section dl.block2 dd {
        display: block;
        float: left;
    }

    .confirmation .details .section dl.block2 {
        line-height: 1em;
    }

    .confirmation .details .section dl.block {
        line-height: 1em;
    }

    .newchkinout {
        clear: left;
        margin-top: 5px;
    }

    .sub-title2 {
        background: none;
        background-color: #fff;
        border-bottom: 1px solid #D2D2D2;
        margin: 0 -10px 20px;
        padding: 6px 19px 5px;
    }
</style>
<table cellpadding="0" cellspacing="0" border="0" style="border-right:solid 1px #a8a8a8;">
    <tr>
        <td width="651" style="font-family: Verdana,Geneva,sans-serif;">
            <div class="confirmation" style="font-family: Verdana,Geneva,sans-serif; font-size: 11px;">
                <div class="panel-content" style="font-family: Verdana,Geneva,sans-serif; font-size: 11px;">
                    <div style="border: 1px solid #A8A8A8; font-family: Verdana,Geneva,sans-serif;
                            font-size: 11px; width: 650px;">
                        <table width="650" style="width: 650px;">
                            <tr>
                                <td width="120" style="padding: 12px; padding-left: 6px;"><img height="42" width="99" alt="isango!" src="#AffiliateNameLogo#" /></td>
                                <td width="421">
                                    <p style="font-size: 16px; font-weight: bold; display: none;">

                                        <div style="font:bold 16px Arial, Helvetica, sans-serif; text-align:center">Booking Reference Number <span style="color:#139ab8">##RefNo##</span></div>
                                    </p>
                                </td>
                                <td width="120" style="padding: 12px; padding-right: 6px; display:#showlogo#"><img height="42" width="99" alt="isango!" src="https://hohobassets.isango.com/phoenix/images/isango-cs.png" /></td>
                            </tr>
                        </table>
                        <div style="border-top: 1px solid #d5d9d8; padding: 12px 12px 0; font-size: 11px;">
                            <h3 style="padding: 0 0 10px; margin-left: 6px; line-height: 1.5; font-size: 11px;
                                    color: #139ab8; font-size: 11px;">
                                Dear <span>##UserName##</span>
                            </h3>
                            <p style="padding-bottom: 10px; margin-left: 6px; font-size: 11px;"> <strong>Thank you for booking with isango!</strong></p>
                            <p style="padding-bottom: 10px; margin-left: 6px; font-size: 11px; line-height: 18px;"> <strong>We are pleased to acknowledge your booking <span style="color: #139ab8;">##RefNo##.</span> Please find the details of your booking below and ensure all is in order. </strong></p>
                            <br />
                            <table width="100%" border="0" cellpadding="5" cellspacing="2" style="margin:0 auto; font:normal 12px Arial, Helvetica, sans-serif;">
                                <tr>
                                    <td colspan="2" style="font-weight:bold; font-size:15px;">Payment Summary</td>
                                </tr>
                                <tr>
                                    <td colspan="2" width="84%"><strong>Product Name</strong></td>
                                    <td><strong>Price</strong></td>
                                </tr>
                                #ProductData#
                                <tr>
                                    <td colspan="3" height="10"></td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellpadding="5" cellspacing="2" style="margin:0 auto; font:normal 12px Arial, Helvetica, sans-serif;">
                                #BookingData#
                                <tr>
                                    <td colspan="2" height="10"></td>
                                </tr>
                            </table>
                            <p style='padding: 5px; margin-left: 6px; font-size: 11px; background:#f4f4f4;'> <strong style='font-size:16px; font-family:Arial; color:#2197b1;'>Please find your voucher attached in PDF format.</strong></p>
                            <div style='margin-left:6px;'>
                                <span style="padding-bottom: 0px; display:block; margin-left:6px; padding-left:6px; font-size: 11px; clear:left;">You would need Adobe Reader in order to view/print these vouchers, in case  you do not have Adobe Reader, you can download it by clicking here.</span>
                                <a href="http://get.adobe.com/reader/"></a>
                            </div>
                            <br />

                            <p style="padding-bottom: 10px; margin-left: 6px; font-size: 11px; line-height: 18px;">
                                <strong>For any further assistance please contact us on </strong> <br>
                                +44 0203 355 1240 (International)<br />
                                +44 800 031 4241(UK)<br />
                                +1855 626 0117(US)<br />
                                +34 871 180 005 (Spain)<br />
                                1-800 008 739 (Australia)<br />
                                +49 (0) 89 3803 4016 (Germany, Mon-Fri 9 AM to 6PM CET) <br />
                                Email: <a href="mailto:#FromEmail#" style="color:#489b25;">#FromEmail# </a>
                            </p>
                            <p style="padding-bottom: 10px; margin-left: 6px; font-size: 11px;">
                                <strong>
                                    Best regards<br />
                                    isango! support team
                                </strong>
                            </p>
                            <p style="padding-bottom: 10px; margin-left: 6px; font-size: 11px;"> <strong> This booking has been made under our standard <a href="http://www.isango.com/booking_agreement.aspx" style="color:#489b25;">terms and conditions</a> </strong> </p>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>