<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- Azure Table Appender, uncomment, set proper QueueName and AWS credentials (appSettings) to try it out -->
  <appender name="JellyFishAppender" type="Logger.AzureTableAppender, Logger">
    <bufferSize value="1" />
    <param name="TableName" value="EmailServicelogging" />
    <param name="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=isangoapicoreprodjf2temp;AccountKey=7vtpFLEhfShKPJnPr7sZ4Kmor45yhhR2YBK3YNNIiQD0brFvxG6qEQ4fgAMymwyWq0UZdR/9nnEg+AStHjm+Yw==;EndpointSuffix=core.windows.net" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ERROR" />
    <level value="WARN" />
    <level value="INFO" />
    <appender-ref ref="JellyFishAppender" />
  </root>
</log4net>