<?xml version="1.0" encoding="utf-8" ?>
<AvailabilityEntities>
  <AvailabilityEntity name="Aot">TableStorageOperations.StorageOperators.AotStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Bokun">TableStorageOperations.StorageOperators.BokunStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Fareharbor">TableStorageOperations.StorageOperators.FareharborStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Moulinrouge">TableStorageOperations.StorageOperators.MoulinRougeStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Prio">TableStorageOperations.StorageOperators.PrioStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Hotelbeds">TableStorageOperations.StorageOperators.TicketsStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Graylineiceland">TableStorageOperations.StorageOperators.GraylineIcelandStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Undefined">TableStorageOperations.StorageOperators.DefaultStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Citysightseeing">TableStorageOperations.StorageOperators.DefaultStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Tiqets">TableStorageOperations.StorageOperators.TiqetsStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Goldentours">TableStorageOperations.StorageOperators.GoldenToursStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="BigBus">TableStorageOperations.StorageOperators.DefaultStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Redeam">TableStorageOperations.StorageOperators.RedeamStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Rezdy">TableStorageOperations.StorageOperators.RezdyStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="GlobalTix">TableStorageOperations.StorageOperators.GlobalTixStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Ventrata">TableStorageOperations.StorageOperators.VentrataStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="TourCMS">TableStorageOperations.StorageOperators.TourCMSStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="NewCitySightSeeing">TableStorageOperations.StorageOperators.NewCitySightSeeingStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="GoCity">TableStorageOperations.StorageOperators.GoCityStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="PrioHub">TableStorageOperations.StorageOperators.PrioHubStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="Rayna">TableStorageOperations.StorageOperators.RaynaStorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="RedeamV12">TableStorageOperations.StorageOperators.RedeamV12StorageOperator</AvailabilityEntity>
  <AvailabilityEntity name="GlobalTixV3">TableStorageOperations.StorageOperators.GlobalTixV3StorageOperator</AvailabilityEntity>
</AvailabilityEntities>