<?xml version="1.0" encoding="utf-8" ?>
<categories>
  <category name="B2B">
    <module id="MarginAndCommissionModule">PriceRuleEngine.Modules.MarginAndCommissionModule</module>
    <module id="SupplierSaleModule">PriceRuleEngine.Modules.SupplierSaleModule</module>
    <module id="ProductDiscountModule">PriceRuleEngine.Modules.ProductDiscountModule</module>
    <module id="B2BSaleModule">PriceRuleEngine.Modules.B2BSaleModule</module>
    <module id="B2BPriceModule">PriceRuleEngine.Modules.B2BPriceModule</module>
  </category>
  <category name="B2C">
    <module id="MarginAndCommissionModule">PriceRuleEngine.Modules.MarginAndCommissionModule</module>
    <module id="ProductDiscountModule">PriceRuleEngine.Modules.ProductDiscountModule</module>
    <module id="SupplierSaleModule">PriceRuleEngine.Modules.SupplierSaleModule</module>
  </category>
</categories>