<table width="100%" border="0" style="page-break-before:always;">
    <tr>
        <td>
            <table width="100%" border="0">
                <tr>
                    <td>
                        <table width="100%" border="0">
                            <tr>
                                <td class="col1">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td>
                                                <table width="100%" border="0">
                                                    <tr>
                                                        <td class="spcr_v1"></td>
                                                        <td class="logo">
                                                            <img src="##BigBusTourLogo##" width="176"
                                                                 alt="Big bus tours">
                                                        </td>
                                                        <td class="spcr_v3">
                                                            <button title="Print" onclick="window.print();" class="printBtn">&#128438; </button>
                                                        </td>
                                                        <td class="logo">
                                                            <!--<img src="##IsangoLogo##" width="160"
         alt="isango!">-->
                                                            
                                                        </td>
                                                        <td class="spcr_v2"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td class="bookedInfo txt-red">
                                                This product has been booked by ##SupplierName##,
                                                please scan the QR code. If necessary, seek authorisation from your
                                                supervisor
                                                quoting the short code on this voucher.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" class="bInfo">
                                                    <tr>
                                                        <td class="w50 txt-red">Customer Name</td>
                                                        <td class="w50 txt-red">Product Name</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##CustomerName##</td>
                                                        <td class="w50 txt-000">##ProductName##</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="w50 txt-red">Date Of Booking</td>
                                                        <td class="w50 txt-red">Category</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##DateOfBooking##</td>
                                                        <td class="w50 txt-000">##Category##</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="w50 txt-red">Date Of Travel</td>
                                                        <td class="w50 txt-red">Quantity</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##DateOfTravel##</td>
                                                        <td class="w50 txt-000">##Quantity##</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="spcr"></td>
                                <td class="col2">
                                    <table style="width:212px;padding: 0;" class="qrTable bigbus">
                                        <tr>
                                            <td style="width:212px;padding: 0;">
                                                <div class="half-circle-up"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%">
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="qr tac">##QRCode##</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b class="txt-red">Short ref: </b> <b>##ShortRef##</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b class="txt-red">Start Time: </b> <b>##StartTime##</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="txt-red">
                                                            Your Big Bus QR code can be redeemed
                                                            at any Big Bus Tours bus stop.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:212px;padding: 0;">
                                                <div class="half-circle-down"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="spcr_h1"></td>
                </tr>
                <tr>
                    <td>This ticket is valid for 6 months from the date of booking.</td>
                </tr>
            </table>
        </td>
    </tr>
</table>