<table width="100%" border="0" style="page-break-before:always;">
    <tr>
        <td>
            <table width="100%" border="0">
                <tr>
                    <td>
                        <table width="100%" border="0">
                            <tr>
                                <td class="col1">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td>
                                                <table width="100%" border="0">
                                                    <tr>
                                                        <td class="spcr_v1"></td>
                                                        <td class="logo">
                                                            <img src="##BigBusTourLogo##" width="176"
                                                                 alt="Big bus tours">
                                                        </td>
                                                        <td class="spcr_v3">
                                                            <button title="Print" onclick="window.print();" class="printBtn">&#128438; </button>
                                                        </td>
                                                        <td class="logo">
                                                            <!--<img src="##IsangoLogo##" width="160"
                                                                 alt="isango!">-->
                                                        </td>
                                                        <td class="spcr_v2"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td class="bookedInfo txt-red">
                                                Ce produit a &#xE9;t&#xE9; r&#xE9;serv&#xE9; par ##SupplierName##,
                                                veuillez scanner le code QR. Si n&#xE9;cessaire, demandez l&#x2019;autorisation de votre superviseur en mentionnant le code court sur ce bon.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" class="bInfo">
                                                    <tr>
                                                        <td class="w50 txt-red">Nom Client</td>
                                                        <td class="w50 txt-red">Nom Produit</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##CustomerName##</td>
                                                        <td class="w50 txt-000">##ProductName##</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="w50 txt-red">Date de R&#xE9;servation</td>
                                                        <td class="w50 txt-red">Cat&#xE9;gorie</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##DateOfBooking##</td>
                                                        <td class="w50 txt-000">##Category##</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="w50 txt-red">Date de Voyage</td>
                                                        <td class="w50 txt-red">Quantit&#xE9;</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##DateOfTravel##</td>
                                                        <td class="w50 txt-000">##Quantity##</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td>Ce billet est valable 6 mois &#xE0; compter de la date de reservation.</td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="spcr"></td>
                                <td class="col2">
                                    <table style="width:212px;padding: 0;" class="qrTable bigbus">
                                        <tr>
                                            <td style="width:212px;padding: 0;">
                                                <div class="half-circle-up"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%">
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="qr tac">##QRCode##</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b class="txt-red">R&#xE9;f court: </b> <b>##ShortRef##</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b class="txt-red">Heure de d&#xE9;but: </b> <b>##StartTime##</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="txt-red">
                                                            Votre code QR de gros bus peut &#xEA;tre utilis&#xE9; &#xE0; n&#x27;importe quel arr&#xEA;t du grand bus.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:212px;padding: 0;">
                                                <div class="half-circle-down"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>