<table width="100%" border="0" style="page-break-before:always;">
    <tr>
        <td>
            <table width="100%" border="0">
                <tr>
                    <td>
                        <table width="100%" border="0">
                            <tr>
                                <td class="col1">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td>
                                                <table width="100%" border="0">
                                                    <tr>
                                                        <td class="spcr_v1"></td>
                                                        <td class="logo">
                                                            <img src="##BigBusTourLogo##" width="176"
                                                                 alt="Big bus tours">
                                                        </td>
                                                        <td class="spcr_v3">
                                                            <button title="Print" onclick="window.print();" class="printBtn">&#128438; </button>
                                                        </td>
                                                        <td class="logo">
                                                            <!--<img src="##IsangoLogo##" width="160"
                                                                 alt="isango!">-->
                                                        </td>
                                                        <td class="spcr_v2"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td class="bookedInfo txt-red">
                                                Dieses Produkt wurde von ##SupplierName##,
                                                gebucht, bitte scannen Sie den QR Code. Wenn nötig, holen Sie sich die Erlaubnis von Ihrem Vorgesetzten indem Sie diesem den kurzen Code auf diesem Voucher nennen.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" class="bInfo">
                                                    <tr>
                                                        <td class="w50 txt-red">Kunden Name</td>
                                                        <td class="w50 txt-red">Produkt Name</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##CustomerName##</td>
                                                        <td class="w50 txt-000">##ProductName##</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="w50 txt-red">Datum der Buchung</td>
                                                        <td class="w50 txt-red">Kategorie</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##DateOfBooking##</td>
                                                        <td class="w50 txt-000">##Category##</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="w50 txt-red">Datum der Reise</td>
                                                        <td class="w50 txt-red">Menge</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##DateOfTravel##</td>
                                                        <td class="w50 txt-000">##Quantity##</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td>Das Ticket ist ab der Buchung 6 Monate lang g&#xFC;ltig.</td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="spcr"></td>
                                <td class="col2">
                                    <table style="width:212px;padding: 0;" class="qrTable bigbus">
                                        <tr>
                                            <td style="width:212px;padding: 0;">
                                                <div class="half-circle-up"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%">
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="qr tac">##QRCode##</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b class="txt-red">Kurzreferenz: </b> <b>##ShortRef##</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b class="txt-red">Startzeit: </b> <b>##StartTime##</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="txt-red">
                                                            Ihr Big Bus QR Code kann an jeder Big Bus Tour Haltestelle eingel&#xF6;st werden.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:212px;padding: 0;">
                                                <div class="half-circle-down"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>