<table width="100%" border="0" style="page-break-before:always;">
    <tr>
        <td>
            <table width="100%" border="0">
                <tr>
                    <td>
                        <table width="100%" border="0">
                            <tr>
                                <td class="col1">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td>
                                                <table width="100%" border="0">
                                                    <tr>
                                                        <td class="spcr_v1"></td>
                                                        <td class="logo">
                                                            <img src="##BigBusTourLogo##" width="176"
                                                                 alt="Big bus tours">
                                                        </td>
                                                        <td class="spcr_v3">
                                                            <button title="Print" onclick="window.print();" class="printBtn">&#128438; </button>
                                                        </td>
                                                        <td class="logo">
                                                            <!--<img src="##IsangoLogo##" width="160"
                                                                 alt="isango!">-->
                                                        </td>
                                                        <td class="spcr_v2"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td class="bookedInfo txt-red">
                                                Este producto ha sido reservado por ##SupplierName##,
                                                por favor escanee el c&#xF3;digo QR. Si es necesario, pida autorizaci&#xF3;n a su supervisor indicando el c&#xF3;digo en este voucher.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%" class="bInfo">
                                                    <tr>
                                                        <td class="w50 txt-red">Nombre del Cliente</td>
                                                        <td class="w50 txt-red">Nombre del Producto</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##CustomerName##</td>
                                                        <td class="w50 txt-000">##ProductName##</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="w50 txt-red">Fecha de la Reserva</td>
                                                        <td class="w50 txt-red">Categoria</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##DateOfBooking##</td>
                                                        <td class="w50 txt-000">##Category##</td>
                                                    </tr>

                                                    <tr>
                                                        <td class="w50 txt-red">Fecha del Viaje</td>
                                                        <td class="w50 txt-red">Cantidad</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="w50 txt-000">##DateOfTravel##</td>
                                                        <td class="w50 txt-000">##Quantity##</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="spcr_h1"></td>
                                        </tr>
                                        <tr>
                                            <td>El ticket es v&#xE1;lido durante 6 meses desde la fecha de reserva.</td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="spcr"></td>
                                <td class="col2">
                                    <table style="width:212px;padding: 0;" class="qrTable bigbus">
                                        <tr>
                                            <td style="width:212px;padding: 0;">
                                                <div class="half-circle-up"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table width="100%">
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="qr tac">##QRCode##</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b class="txt-red">Ref corta: </b> <b>##ShortRef##</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b class="txt-red">Hora de inicio: </b> <b>##StartTime##</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="txt-red">
                                                            Su c&#xF3;digo QR de Big Bus puede ser canjeado en cualquiera de las paradas de bus de Big Bus Tours.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="spcr_h1"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:212px;padding: 0;">
                                                <div class="half-circle-down"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>