<link rel="stylesheet" href="styles.css">
<table width="100%" border="0">
    <!--<tr>
        <td class="tac fw border-bot-solid" height="85" style="height: 90px;">
            <a href="https://www.isango.com/" target="_blank"><img src="https://hohobassets.isango.com/phoenix/images/isango-cs.png" width="140"
                    height="68" alt="isango!"></a>
        </td>
    </tr>-->
    <tr>
        <td class="pdf-container" style="vertical-align: top;">
            <table class="pdf-inner">
                ##ProductData##
            </table>
        </td>
    </tr>
</table>