<table width="100%" border="0">
    <tr>
        <td class="pdf-container">
            <table class="pdf-inner">

                <tr>
                    <td>
                        <h1 class="h1"><b class="txt-blu">Buchungsnummer / Booking Voucher Number -</b> <span>##BookingVoucherNumber##</span></h1>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <h2 class="h2"><b>Zahlungs&#xFC;bersicht / Payment Summary</b></h2>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table class="priceTable">
                                        <tr>
                                            <td><b>Produktname / Product Name</b></td>
                                            <td class="tar"><b>Price</b></td>
                                        </tr>
                                        <tr>##ProductDetails##</tr>
                                        <tr>
                                            <td><b>Gesamtbuchungsbetrag</b> / <em>Total Booking Amount</em></td>
                                            <td class="tar"><b>##TotalBookingAmount##</b></td>
                                        </tr>
                                        <tr style="display: ##displayDiscountVoucher##;">
                                            <td><b>Rabatt-Gutschein</b> / <em>Discount Voucher</em></td>
                                            <td class="tar">##DiscountVoucher##</td>
                                        </tr>
                                        <tr style="display: ##displayMultisaveDiscount##;">
                                            <td><b>Multisave-Rabatt</b> / <em>Multisave Discount</em></td>
                                            <td class="tar">##MultisaveDiscount##</td>
                                        </tr>
                                        <tr style="display: ##displayAmountAfterDiscount##;">
                                            <td class="mSave"><b>Betrag nach Abzug</b> / <em>Amount after Discount</em></td>
                                            <td class="tar mSave">##AmountAfterDiscount##</td>
                                        </tr>
                                        ##ToBeChargedAmount##
                                        <tr>
                                            <td><b>Gesamtbetrag, der bereits von Ihrer Kreditkarte abgebucht wurde</b> / <em>Total Charged Amount</em></td>
                                            <td class="tar"><b>##TotalChargedAmount##</b></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                            <tr><td class="brdrBtm"></td></tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                            <tr>
                                <td>
                                    <p>
                                        Vielen Dank f&#xFC;r die Buchung mit isango! Der angegebene Betrag wurde mit der Angabe &#x201E;isango! Limited, UK&#x201C; von Ihrer Kreditkarte abgebucht. <br>
                                        <em>Thank you for booking with isango! The above amount has been charged in favour of "isango! Limited, UK".</em>
                                    </p>
                                    <p>
                                        Sie sind pers&#xF6;nlich daf&#xFC;r verantwortlich, dass alle von Ihnen gemachten Angeben korrekt sind. Sie haben den Allgemeinen Gesch&#xE4;ftsbedingungen von isango! zugestimmt. Hier zu den Buchungsbedingungen <br>
                                        <em>It is your responsibility to ensure all the details provided while booking are correct. You have confirmed that you agree to the isango! <a class="link" target="_blank" href="##TermsAndConditionLink##">booking terms and conditions</a></em>
                                    </p>
                                </td>
                            </tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                        </table>
                    </td>
                </tr>

                <tr><td class="hSpcr">&nbsp;</td></tr>
            </table>
        </td>
    </tr>
    <tr><td class="hSpcr10"></td></tr>
</table>