<table width="100%" border="0">
    <tr>
        <td class="pdf-container">
            <table class="pdf-inner">

                <tr>
                    <td>
                        <h1 class="h1"><b class="txt-blu">Booking Voucher Number -</b> <span> ##BookingVoucherNumber## </span></h1>
                    </td>
                </tr>
                <tr>
                    <td class="hSpcr">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <h2 class="h2"><b>Payment Summary</b></h2>
                    </td>
                </tr>
                <tr>
                    <td class="hSpcr">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table class="priceTable">
                                        <tr>
                                            <td><b>Product Name</b></td>
                                            <td class="tar"><b>Price</b></td>
                                        </tr>
                                        <tr>
                                            ##ProductDetails##
                                        </tr>
                                        <tr>
                                            <td><b>Total Booking Amount</b></td>
                                            <td class="tar"><b>##TotalBookingAmount##</b></td>
                                        </tr>
                                        <tr style="display: ##displayDiscountVoucher##;">
                                            <td><b>Discount Voucher</b></td>
                                            <td class="tar">##DiscountVoucher##</td>
                                        </tr>
                                        <tr style="display: ##displayMultisaveDiscount##;">
                                            <td><b>Multisave Discount</b></td>
                                            <td class="tar">##MultisaveDiscount##</td>
                                        </tr>
                                        <tr style="display: ##displayAmountAfterDiscount##;">
                                            <td class="mSave"><b>Amount after Discount</b></td>
                                            <td class="tar mSave">##AmountAfterDiscount##</td>
                                        </tr>
                                        ##ToBeChargedAmount##
                                        <tr>
                                            <td><b>Total Charged Amount</b></td>
                                            <td class="tar"><b>##TotalChargedAmount##</b></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="hSpcr">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="brdrBtm"></td>
                            </tr>
                            <tr>
                                <td class="hSpcr">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        Thank you for booking with isango! The above amount has been charged in
                                        favour
                                        of "isango!
                                        Limited, UK".
                                    </p>
                                    <p>
                                        It is your responsibility to ensure all the details provided while booking
                                        are
                                        correct. You
                                        have confirmed that you agree to the isango!
                                        <a class="link" target="_blank" href="##TermsAndConditionLink##">
                                            booking
                                            terms and
                                            conditions
                                        </a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="hSpcr">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td class="hSpcr">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="hSpcr10"></td>
    </tr>
</table>