<table width="100%" border="0">
    <tr>
        <td class="pdf-container">
            <table class="pdf-inner">

                <tr>
                    <td>
                        <h1 class="h1"><b class="txt-blu">Num&#xE9;ro du bon de r&#xE9;servation / Booking Voucher Number -</b> <span>##BookingVoucherNumber##</span></h1>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <h2 class="h2"><b>Sommaire du paiement / Payment Summary</b></h2>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table class="priceTable">
                                        <tr>
                                            <td><b>Nom du produit / Product Name</b></td>
                                            <td class="tar"><b>Price</b></td>
                                        </tr>
                                        <tr>##ProductDetails##</tr>
                                        <tr>
                                            <td><b>Montant total de la r&#xE9;servation</b> / <em>Total Booking Amount</em></td>
                                            <td class="tar"><b>##TotalBookingAmount##</b></td>
                                        </tr>
                                        <tr style="display: ##displayDiscountVoucher##;">
                                            <td><b>Bon de r&#xE9;duction</b> / <em>Discount Voucher</em></td>
                                            <td class="tar">##DiscountVoucher##</td>
                                        </tr>
                                        <tr style="display: ##displayMultisaveDiscount##;">
                                            <td><b>Remise Multi-&#xE9;conomique</b> / <em>Multisave Discount</em></td>
                                            <td class="tar">##MultisaveDiscount##</td>
                                        </tr>
                                        <tr style="display: ##displayAmountAfterDiscount##;">
                                            <td class="mSave"><b>Montant apr&#xE9;s r&#xE9;duction</b> / <em>Amount after Discount</em></td>
                                            <td class="tar mSave">##AmountAfterDiscount##</td>
                                        </tr>
                                        ##ToBeChargedAmount##
                                        <tr>
                                            <td><b>Montant total factur&#xE9;</b> / <em>Total Charged Amount</em></td>
                                            <td class="tar"><b>##TotalChargedAmount##</b></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                            <tr><td class="brdrBtm"></td></tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                            <tr>
                                <td>
                                    <p>
                                        Merci d'avoir r&#xE9;serv&#xE9; avec isango! Le montant ci-dessus a&#xE9;t&#xE9; d&#xE9;bit&#xE9; en faveur de "isango! Limited, UK". <br>
                                        <em>Thank you for booking with isango! The above amount has been charged in favour of "isango! Limited, UK".</em>
                                    </p>
                                    <p>
                                        Il est de votre responsabilit&#xE9; de vous assurer que tous les d&#xE9;tails fournis lors de la r&#xE9;servation sont corrects. Vous avez confirm&#xE9; votre accord avec l'isango! <br>
                                        <em>It is your responsibility to ensure all the details provided while booking are correct. You have confirmed that you agree to the isango! <a class="link" target="_blank" href="##TermsAndConditionLink##">booking terms and conditions</a></em>
                                    </p>
                                </td>
                            </tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                        </table>
                    </td>
                </tr>

                <tr><td class="hSpcr">&nbsp;</td></tr>
            </table>
        </td>
    </tr>
    <tr><td class="hSpcr10"></td></tr>
</table>