<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>isango! - experience the world with us</title>
    <link href="/CSS/Voucher.css" rel="stylesheet" />
</head>

<body>
    <table width="100%" border="0">
        <tr>
            <td class="pdf-container">
                <table class="pdf-inner">
                    <tr>
                        <td>
                            <h1 class="h1"><b class="txt-blu">Num&#xE9;ro du bon de r&#xE9;servation / Booking Voucher Number -</b> ##BookingVoucherNumber##</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <h3 style="text-align:center;">Votre r&#xE9;servation est annul&#xE9;e</h3>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="hSpcr10"></td>
        </tr>
    </table>
</body>
</html>