<table width="100%" border="0">
    <tr>
        <td class="pdf-container">
            <table class="pdf-inner">

                <tr>
                    <td>
                        <h1 class="h1"><b class="txt-blu">Solicitud de reserva - Pendiente / Booking Request - Pending Request Number:</b> <span> ##BookingVoucherNumber##</span></h1>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <h2 class="h2"><b>Resumen del pago / Payment Summary</b></h2>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table class="priceTable">
                                        <tr>
                                            <td><b>Nombre del producto / <em>Product Name</em></b></td>
                                            <td class="tar"><b>Price</b></td>
                                        </tr>
                                        <tr>
                                            ##ProductDetails##
                                        </tr>
                                        <tr>
                                            <td><b>Precio total de la reserva</b> / <em>Total Booking Amount</em></td>
                                            <td class="tar"><b>##TotalBookingAmount##</b></td>
                                        </tr>
                                        <tr style="display: ##displayDiscountVoucher##;">
                                            <td><b>Vale de descuento</b> / <em>Discount Voucher</em></td>
                                            <td class="tar">##DiscountVoucher##</td>
                                        </tr>
                                        <tr style="display: ##displayMultisaveDiscount##;">
                                            <td><b>Descuento Multisave</b> / <em>Multisave Discount</em></td>
                                            <td class="tar">##MultisaveDiscount##</td>
                                        </tr>
                                        <tr style="display: ##displayAmountAfterDiscount##;">
                                            <td class="mSave">
                                                <b>Importe despu&#xE9;s del descuento</b> / <em>
                                                    Amount
                                                    after Discount
                                                </em>
                                            </td>
                                            <td class="tar mSave">##AmountAfterDiscount##</td>
                                        </tr>
                                        ##ToBeChargedAmount##
                                        <tr>
                                            <td><b>Precio total cargado</b> / <em>Total Charged Amount</em></td>
                                            <td class="tar"><b>##TotalChargedAmount##</b></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                            <tr><td class="brdrBtm"></td></tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                            <tr>
                                <td>
                                    <p>
                                        Gracias por reservar con isango! La cantidad indicada arriba se ha cargado en su cuenta a nombre de &#x201C;isango! Limited, UK&#x201D;. <br>
                                        <em>Thank you for booking with isango! The above amount has been charged in favour of "isango! Limited, UK".</em>
                                    </p>
                                    <p>
                                        Es su responsabilidad que todos los detalles que nos ha indicado sean correctos. Usted ha confirmado que est&#xE1; de acuerdo con los t&#xE9;rminos y condiciones de la reserva de isango <a class="link" target="_blank" href="##TermsAndConditionLink##">t&#xE9;rminos y condiciones de la reserva</a> <br>
                                        <em>It is your responsibility to ensure all the details provided while booking are correct. You have confirmed that you agree to the isango! <a class="link" target="_blank" href="##TermsAndConditionLink##">booking terms and conditions</a></em>
                                    </p>
                                </td>
                            </tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                        </table>
                    </td>
                </tr>

                <tr><td class="hSpcr">&nbsp;</td></tr>
            </table>
            <div class="igo"><img src="##GoGif##" width="255" height="442" alt=""> </div>
        </td>
    </tr>
    <tr><td class="hSpcr10"></td></tr>
</table>