<table width="100%" border="0">
    <tr>
        <td class="pdf-container">
            <table class="pdf-inner">

                <tr>
                    <td>
                        <h1 class="h1">
                            <b class="txt-blu">Buchungsnummer / Booking Voucher Number -</b> <span>##BookingVoucherNumber##</span>
                            <button style="display: ##displayPrintButton##" title="Drucken" onclick="window.print();" class="printBtn">&#128438; </button>
                        </h1>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td class="box">
                        <h2 class="hh1"><b>Buchungsinformation / Booking Information</b></h2>
                        <table>
                            <tr><td colspan="2" class="hSpcr">&nbsp;</td></tr>
                            <tr>
                                <td class="bdr-rt w50">
                                    <table>
                                        <tr>
                                            <td class="col1"><b>Hauptteilnehmer</b> <br> <em>Lead Traveller</em></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##UserName##</td>
                                        </tr>
                                        <tr>
                                            <td class="col1"><b>Tourname</b> <br> <em>Tour Booked</em></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##ProductPageName##</td>
                                        </tr>
                                        <tr>
                                            <td class="col1"><b>Optionsname</b> <br> <em>Option Name</em></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##OptionName##</td>
                                        </tr>
                                        <tr>
                                            <td class="col1"><b>Gesamtpreis</b> <br> <em>Total Tour Price</em></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##TotalTourPrice##</td>
                                        </tr>
                                        <!--<tr>
                                            <td class="col1"><b>Anmerkungen</b><br> <em>Special Request</em></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##SpecialRequest##</td>
                                        </tr>-->
                                        <tr style="display: ##displaySupplierBookingReference##">
                                            <td class="col1"><b>Lieferantenbuchungsreferenz</b></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##SupplierBookingReference##</td>
                                        </tr>

                                        <tr style="display: ##displayQR##">
                                            <td colspan="3">
                                                ##QRCodeTable##
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="vat">
                                    <table>
                                        <tr style="display: ##displayNoofAdults##">
                                            <td class="col1"><b>Anzahl der Erwachsenen</b> <br> <em>No of Adults</em></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##NumberOfAdults## Adult</td>
                                        </tr>
                                        <tr style="display: ##displayNoOfChilds##">
                                            <td class="col1"><b>Anzahl der Kinder</b> <br> <em>No of Children</em></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##NumberOfChildren##</td>
                                        </tr>
                                        ##DynamicAgeGroup##
                                        <tr>
                                            <td class="col1"><b>Datum</b> <br> <em>Date of Tour</em></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##DateOfTour##</td>
                                        </tr>
                                        <tr>
                                            <td class="col1"><b>Optionscode</b> <br>  <em>Option Code</em></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##OptionCode##</td>
                                        </tr>
                                        ##SupplierName1##
                                        <tr style="display: ##displayVATNumber##">
                                            <td class="col1"><b>Umsatzsteuer-Identifikationsnummer</b> <br> <em>VAT Number</em></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##VATNumber##</td>
                                        </tr>
                                        ##ProviderInformation##
                                        <tr>
                                            <td class="col1"><b>isango! Partner vor Ort</b> <br> <a><em>Local isango! Partner</em></a></td>
                                            <td class="spcr">&nbsp;</td>
                                            <td>##IsangoPartner##</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td colspan="2" class="hSpcr">&nbsp;</td></tr>
                        </table>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <h2 class="h2"><b>Tourablauf / Tour Schedule</b></h2>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <table>

                            <tr style="display: ##displayPickPoint##;">
                                <td class="cols"><b>Startpunkt</b> <br> <em>Pickup Point</em></td>
                                <td class="spcr"></td>
                                <td>##PickupPoint##</td>
                            </tr>
                            <tr style="display: ##displayMeetingPoint##;">
                                <td class="cols"><b>Treffpunkt</b> <br> <em>Meeting Point</em></td>
                                <td class="spcr"></td>
                                <td>##PickupPoint##</td>
                            </tr>
                            <tr style="display: ##displayContractComment##;">
                                <td class="cols"><b>Kommentar zum Vertrag</b><br> <em>Contract Comment</em></td>
                                <td class="spcr"></td>
                                <td>##ContractComment##</td>
                            </tr>
                            <tr style="display: ##displayDropPoint##;">
                                <td class="cols"><b>Endpunkt</b> <br> <em>Drop off Point</em></td>
                                <td class="spcr"></td>
                                <td>##DropOffPoint##</td>
                            </tr>
                            <tr style="display: ##displayEndPoint##;">
                                <td class="cols"><b>Endpunkt</b> <br> <em>Ending Point</em></td>
                                <td class="spcr"></td>
                                <td>##DropOffPoint##</td>
                            </tr>
                            <tr style="display: ##displaySchedule##;">
                                <td class="cols"><b>Verf&#xFC;gbarkeit</b> <br> <em>Schedule</em></td>
                                <td class="spcr"></td>
                                <td>##Schedule##</td>
                            </tr>
                            <tr style="display: ##displayStartTime##;">
                                <td class="cols"><b>Startzeit</b> <br> <em>Start Time</em></td>
                                <td class="spcr"></td>
                                <td>##Schedule##</td>
                            </tr>
                            <tr>
                                <td class="cols"><b>Dauer</b> <br> <em>Duration</em></td>
                                <td class="spcr"></td>
                                <td>##Duration##</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <h2 class="h2"><b>Wichtige Informationen / Important Instructions</b></h2>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <table>
                            ##ImportantInstructions##
                        </table>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td class="vat">
                        <h2 class="h2"><b>Kontaktdetails / Contact Details</b></h2>
                        <table>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                            <tr>
                                <td class="vat
contactWrap">

                                    <div class="contact1">

                                        <h3>Organisatorische Details vor der Abreise <br> <em style="font-weight: normal">Pre-departure logistics</em></h3>
                                        <p>
                                            <b class="txt-blu">isango! Partner vor Ort <br></b> <a class="txt-blu"><em>Local isango! Partner</em></a><br />
                                            ##IsangoPartnerAddress##
                                        </p>
                                        <p>
                                            <b>Telephone Number</b><br>
                                            ##TelephoneNumber##
                                        </p>
                                        <p>
                                            <b>Emergency Number</b><br>
                                            ##EmergencyNumber##
                                        </p>
                                        <p>
                                            <b>Fax</b><br>
                                            ##Fax##
                                        </p>
                                        <p>
                                            <b>Email</b><br />
                                            <span class="txt-blu">  ##Email## </span>
                                        </p>
                                    </div>
                                    ##DestinationAssistance##
                                    <div class="contact3">
                                        <h3>Kundenservice f&#xFC;r Fragen / weitere Buchungen <br> <em style="font-weight: normal">Need further assistance or bookings?</em></h3>
                                        <p>
                                            <b>isango! Kundenservice</b><br> <a class="txt-blu"><em>isango! customer support</em></a> <br>
                                            ##CustomerSupportNumbers##
                                        </p>
                                        <p>
                                            <b>Email</b><br />
                                            <span class="txt-blu">   ##SupportEmail## </span>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                        </table>
                    </td>
                </tr>
                <tr style="display: ##displayTermsC##;">
                    <td>
                        <h2 class="h2"><b>Allgemeine Gesch&#xE4;ftsbedingungen / Terms and Conditions</b></h2>
                        <table>
                            <tr><td class="hSpcr"></td></tr>
                            <tr>
                                <td>
                                    Sie sind pers&#xF6;nlich daf&#xFC;r verantwortlich, dass alle von Ihnen gemachten Angeben korrekt sind. Sie haben den Allgemeinen Gesch&#xE4;ftsbedingungen von isango! zugestimmt. Hier zu den <a target="_blank" class="link" href="##TermsAndConditionLink##">Buchungsbedingungen</a>  <br>
                                    <em>It is your responsibility to ensure all the details provided while booking are correct. You have confirmed that you agree to the isango! <a target="_blank" class="link" href="##TermsAndConditionLink##">booking terms and conditions</a></em>
                                </td>
                            </tr>
                            <tr><td class="hSpcr"></td></tr>
                            <tr><td class="brdrBtm"></td></tr>
                            <tr><td class="hSpcr">&nbsp;</td></tr>
                            <tr>
                                <td>
                                    <h3>Nur f&#xFC;r den dienstlichen Gebrauch / For official use only</h3>
                                    <p>Hinweis f&#xFC;r ##SupplierName##: Bitte stellen Sie diese Tour isango! in Rechnung. Bitte schicken Sie die Rechnung an finance@isango.com. <br><em>Note for ##SupplierName##: Please bill local isango Partner for this. Please send the invoice to finance@isango.com</em></p>
                                    <p>sango! Limited arbeitet als Einzelhandelsagent f&#xFC;r ##SupplierName## mit dem Ihre Tour gebucht wurde. ##SupplierName## ist der Auftraggeber und dementsprechend ist Ihr Vertrag mit ##SupplierName## <br><em>isango! Limited act as a retail agent for ##SupplierName## with whom your tour is booked. ##SupplierName## is the principal and in accordance with our booking conditions your contract is ##SupplierName##</em> </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td class="hSpcr">&nbsp;</td></tr>
                <tr>
                    <td>
                        <h2 class="h2"><b>Flexible Stornierungsbedingungen / Flexible Cancellation Policy</b></h2>
                    </td>
                </tr>
                <tr>
                    <td class="hSpcr">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        ##CancellationPolicy##
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td class="hSpcr10"></td></tr>
</table>